#container{
    width: 600px;
    height: 600px;
    background-color: green;
    position: relative;
}

#box{
    width: 60px;
    height: 60px;
    background-color: red;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
}